.img-panel {
    position: relative;
}

[class*='sidebar-dark'] .img-panel {
    border-bottom: 1px solid #4f5962;
}

[class*='sidebar-light'] .img-panel {
    border-bottom: 1px solid #dee2e6;
}

.img-panel,
.img-panel .info {
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.img-panel .image {
    display: inline-block;
    padding-left: 0.8rem;
}

.img-panel img {
    height: 2.3rem;
    width: 2.3rem;
}

.img-panel .info {
    display: inline-block;
    padding: 5px 5px 5px 10px;
}

.img-panel .status,
.img-panel .dropdown-menu {
    font-size: 0.875rem;
}

.img-list {
    height: 40px;
    width: 40px;
}

.img-user {
    height: 240px;
    width: 200px;
}

.custom-column {
    max-width: 600px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}