@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/izitoast/dist/css/iziToast.css";
.text-clamp-1 {
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
.items {
    margin-bottom: 1rem;
  }
 