<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <img src="img/image/images.png" alt="Thuê Sách" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Thuê Sách</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                    <% if(adminData){ %>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <div class="img-panel mt-3 pb-3 mb-3 d-flex ">
                                    <div class="image">
                                        <img src="/img/<%= adminData.admin.hinh %>" class="img-circle elevation-2"
                                            alt="User Image">
                                    </div>
                                    <div class="info">
                                        <%= adminData.admin.ten %>
                                    </div>
                                </div>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/get-DetailAccount?adminID=<%= adminData.admin.email %>" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thông tin cá nhân</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/edit-Account?id=<%= adminData.admin.id %>" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Cập nhật thông tin</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Đăng xuất</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <% } %>
                            <li class="nav-item">
                                <a href="/home" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link" onclick="getCountBook()">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Sách
                                        <i class="fas fa-angle-left right"></i>
                                        <span class="badge badge-info right countBookBadgeMain"></span>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/book" class="nav-link" onclick="getCountBook()">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Sách chưa duyệt
                                                <span class="badge badge-info right countBookBadgeSub"></span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/get-broweBook" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Sách đã duyệt</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/category" class="nav-link">
                                    <i class="nav-icon fas fa-folder"></i>
                                    <p>
                                        Thể loại
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/author" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>
                                        Tác giả
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/user" class="nav-link">
                                    <i class="nav-icon fas fa-user-circle"></i>
                                    <p>
                                        Tài khoản
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/blog" class="nav-link">
                                    <i class="nav-icon fas fa-newspaper"></i>
                                    <p>
                                        Bài viết
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/rental" class="nav-link">
                                    <i class="nav-icon fas fa-receipt"></i>
                                    <p>
                                        Phiếu thuê
                                    </p>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="/email" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        test form email
                                    </p>
                                </a>
                            </li> -->
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
</aside>