<footer class="main-footer">
    <strong>Copyright &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
    </strong>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="plugins/summernote/summernote.min.js  "></script>
<script src="rateyo/jquery.rateyo.min.js"></script>
<script>
    $('#summernote').summernote({
        height: 300,
    });
</script>
<script>
    function updateCountBookBadge(classSelector, count) {
        const badgeElements = document.querySelectorAll(`.${classSelector}`);
        badgeElements.forEach((badgeElement) => {
            if (count > 0) {
                badgeElement.innerText = count;
            } else {
                badgeElement.innerText = '';
            }
        });
    }

    getCountBook();
    setInterval(getCountBook, 5000);
    async function getCountBook() {
        try {
            const response = await fetch('/api/countBook');
            const data = await response.json();
            console.log(data.count);
            updateCountBookBadge('countBookBadgeMain', data.count);
            updateCountBookBadge('countBookBadgeSub', data.count);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }
</script>