<!DOCTYPE html>
<html>

<head>
    <title>Xác thực Email</title>
</head>

<body>
    <p>Xin chào <%= email %>,</p>
    <p>Cám ơn bạn đã đăng kí tài khoản. Vui lòng click vào đường link này để xác thực tài khoản <a
            href="<%= href %>">here</a>.</p>
</body>

</html>